//yellows
$yellow : #e89d22;
$yellow_light : #f1c47a;
$yellow_dark : #ae771a;

// blues
$blue : #85b1d3;
$blue_light : #b5cfe3;
$blue_medium : #6e829b;
$blue_medium_opaque : rgba(110,130,155,.5);
$blue_dark : #2d4659;
$blue_black : #1a2a36;

// pinks
$pink : #852180;
$pink_light : #9d4d96;
$pink_dark : #6e1960;

// grays
$gray_white : #e4e4e4;
$gray_light : #d3d3d3;
$gray_medium : #9fa0a1;
$gray_dark : #5f6062;