html.no-csstransitions,
html.no-csstransforms3d,
html.no-cssreflections {
  .searchbtn.desktop,
  .searchbtn.mobile {
    display: none;
  }
  .cube-contain {
    .flop {
      display: none;
    }
  }
  .splash {
    background: none !important;
  }
}

html.no-cssreflections {
  .home-search-container.no-reflections {
    display: block;
  }
}