// nav vars
$top_level_height: 80px;
$child_level_height: 54px;

/* where we serve is a taller ul,
must manually set height due to sub.menu requiring to be absolutely positioned from the ul.menu */
$where_we_serve_height: 145px;

// .where-we-serve 3 li's
$max-zone-states-3 : 145px;
// .where-we-serve 4 li's
$max-zone-states-4 : 165px;
// .where-we-serve 5 li's
$max-zone-states-5 : 192px;
// .where-we-serve 6 li's
$max-zone-states-6 : 223px;
// .where-we-serve 7 li's
$max-zone-states-7 : 253px;




ul.menu, ul.sub-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// top menu stuff
.top-menu {
  .menus {
  }
  a {
    color: white;
  }
}
// style the hover
.top-menu {
  a:hover {
    color: $blue_light;
  }
  a:focus {
    color: $blue_light;
  }
}

// main menu stuff
nav.main-menu {
  display: block;
  a {
    color: $blue_dark;
    position: relative;
  }
}
// main menu toggle button
.main-menu-toggle {
  position: absolute;
  top: 22px;
  right: 15px;
  display: table;
  text-align: center;
  display: none;
  color: $blue_dark;
  z-index: 200;
  i {
    display: table-cell;
    vertical-align: middle;
  }
}


.main-menu-toggle,
.searchbtn_close,
.searchbtn,
.main-menu-toggle:link,
.main-menu-toggle:visited,
.searchbtn.mobile:link,
.searchbtn_close.mobile:link
.searchbtn.mobile:visited,
.searchbtn_close.mobile:visited  {
  color: $blue_dark;
}
.main-menu-toggle:hover,
.searchbtn.mobile:hover,
.searchbtn_close.mobile:hover {
  color: $blue_light;
}
.main-menu-toggle.active,
.main-menu-toggle:active,
.searchbtn.mobile:active,
.searchbtn_close.mobile:active {
  color: $yellow;
}

// default stick state
.stick {
  position: relative;
  z-index: 100;
  background: white;
  //margin-top: -80px;
  // so content below doesn't jump when it goes from rel to fixd
}



// begin after tablet
@media only screen and (min-width: 769px)  {
  
  /*
  * .top-menu
  */
  
  .top-menu {
    text-align: right;
    background: $blue_black;
    width: 100%;
    //display: table;
    //margin-bottom: 80px;
    .menus {
      vertical-align: middle;
      //display: table-cell;
    }
    .menu {
      display: inline-block;
    }
    li {
      display: inline-block;
      margin-right: 23px;
    }
    
    .menu:last-child {
      width: 70px;
      li {
        margin-right: 5px;
        a {
          display: inline-block;
          padding: 5px;
        }
      }
      li:last-child {
        margin-right: 0;
      }
      padding-right: 10px;
    }
  }
  
  // main menu
  nav.main-menu {
    text-align: center;
    background: white;
    @include box_shadow(0 8px 6px -6px rgba(0,0,0,.3));
    > ul.menu {
      position: relative;
      height: $top_level_height;
      z-index: 2;
      > li {
        > ul.sub-menu {
          position: absolute;
          z-index: 1;
          left: 0;
          bottom: 0;
          width: 100%;
          background: white;
          @include transition(all 200ms ease);
          @include delay(50ms);
          > li {
          }
        }
      }
      > li:last-child {
        padding-right: 0;
      }
    }
    ul.menu {
      li {
        display: inline-block;
        margin-left: -3px;
        a {
          display: inline-block;
        }
      }
      > li {
        a {
          padding: 30px 10px 25px;
        }
        > ul.sub-menu {
          > li {
            a {
              padding: 14px 10px 15px;
            }
          }
        }
      }
    }
  }

  // where-we-serve
  nav.main-menu {
    > ul.menu {
      > li.where-we-serve {
        > ul.sub-menu {
          display: block;
          top: $top_level_height;
          > li {
            display: block;
            float: left;
            width: 33%;
            vertical-align: top;
            text-align: left;
            ul.sub-menu {
              > li {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  // where-we-serve child ul widths (region-group)
  nav.main-menu {
    > ul.menu {
      > li.where-we-serve {
        > ul.sub-menu {
          padding-left: 32.14%;
          .region-group {
            width: 24.8%;
          }
          .region-group {
            a {
              display: block;
              padding: 5px 10px 0;
            }
            > a {
              padding: 5px 10px;
            }
          }
        }
      }
    }
  }

  // clear float for main nav
  nav.main-menu {
    > ul.menu {
      > li.where-we-serve {
        > ul.sub-menu:after {
          display: table;
          clear: both;
          content: "";
        }
      }
    }
  }


  /////     borders and styles    /////
  nav.main-menu {
    > ul.menu {
      > li {
        > a {
          @include transition(opacity 200ms);
          @include delay(400ms);
        }
        > a:before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 10px;
          background: $yellow;
          content: "";
        }
        > ul.sub-menu {
          > li {
            
          }
        }
      }
      > li:last-child {
        
      }
    }
    ul.menu {
      li {
        a {
        }
      }
      > li {
        a {
        }
        > ul.sub-menu {
          > li {
            a {
            }
          }
        }
      }
    }
  }




  /////     hover and active states     /////

  // structural
  .main-menu > ul.menu > li > ul.sub-menu {
    bottom: 0;
    height: 0;
    overflow: hidden;
  }

  // structural
  .main-menu > ul.menu > li.where-we-serve > ul.sub-menu {
    bottom: 0;
    height: 0;
    overflow: hidden;
  }

  /*
  * sub-menu heights
  */
  
  // normal child sub-menu height and toggle, all on one row
  .main-menu > ul.menu > li:hover,
  .main-menu > ul.menu > li.hover,
  .main-menu > ul.menu > li.focus  {
    > ul.sub-menu {
      bottom: -$child_level_height;
      height: $child_level_height;
    }
  }
  .main-menu > ul.menu > li > ul.sub-menu.active {
      height: $child_level_height;
  }

  // default where-we-serve child sub-menu height and toggle
  .main-menu > ul.menu > li.where-we-serve:hover,
  .main-menu > ul.menu > li.where-we-serve.hover,
  .main-menu > ul.menu > li.where-we-serve.focus  {
    > ul.sub-menu {
      height: $where_we_serve_height;
    }
  }
  .main-menu > ul.menu > li.where-we-serve > ul.sub-menu.active {
      bottom: -$where_we_serve_height;
      height: $where_we_serve_height;
  }
  
  // max-zone-states-3
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-3:hover,
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-3.hover,
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-3.focus  {
    > ul.sub-menu {
      height: $max-zone-states-3;
    }
  }
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-3 > ul.sub-menu.active {
      bottom: -$max-zone-states-3;
      height: $max-zone-states-3;
  }
  // max-zone-states-4
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-4:hover,
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-4.hover,
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-4.focus  {
    > ul.sub-menu {
      height: $max-zone-states-4;
    }
  }
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-4 > ul.sub-menu.active {
      bottom: -$max-zone-states-4;
      height: $max-zone-states-4;
  }
  // max-zone-states-5
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-5:hover,
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-5.hover,
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-5.focus  {
    > ul.sub-menu {
      height: $max-zone-states-5;
    }
  }
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-5 > ul.sub-menu.active {
      bottom: -$max-zone-states-5;
      height: $max-zone-states-5;
  }
  // max-zone-states-6
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-6:hover,
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-6.hover,
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-6.focus  {
    > ul.sub-menu {
      height: $max-zone-states-6;
    }
  }
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-6 > ul.sub-menu.active {
      bottom: -$max-zone-states-6;
      height: $max-zone-states-6;
  }
  // max-zone-states-7
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-7:hover,
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-7.hover,
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-7.focus  {
    > ul.sub-menu {
      height: $max-zone-states-7;
    }
  }
  .main-menu > ul.menu > li.where-we-serve.max-zone-states-7 > ul.sub-menu.active {
      bottom: -$max-zone-states-7;
      height: $max-zone-states-7;
  }
  
    

  // border top on top level li
  .main-menu > ul.menu > li > a:before {
    display: none;
  }
  .main-menu > ul.menu > li > a:hover:before,
  .main-menu.active > ul.menu > li.active > a:before {
    display: block;
  }

  // dim all other colors besides active li {
  .main-menu.active > ul.menu > li > a {
   color: $blue_dark;
  }
  .main-menu > li.hover a,
  .main-menu > ul.menu > li > ul.sub-menu > li:not(.hover) > a {
    color: $blue_light;
  }
  .main-menu > ul.menu > li.active > ul.sub-menu > li.hover > ul.sub-menu > a {
    color: $blue_light;
  }
  .main-menu > ul.menu > li.active > ul.sub-menu > li.hover > a {
    color: $blue_dark;
  }
  .main-menu.active > ul.menu:hover > li:not(.hover) a {
    color: $blue_light;
  }
  
  .main-menu > ul.menu > li.active > ul.sub-menu > li > a,
  .main-menu > ul.menu > li.hover > ul.sub-menu > li > a,
  .main-menu > ul.menu > li.hover > ul.sub-menu > li > ul.sub-menu > li > a,
  .main-menu > ul.menu > li.active > ul.sub-menu > li > ul.sub-menu > li > a,
  .main-menu > ul.menu > li.active > ul.sub-menu > li.region-group.active > ul.sub-menu > li.hover > a {
    color: $blue_dark;
  }

.main-menu > ul.menu > li.active > ul.sub-menu > li.region-group:not(.hover) > a,
.main-menu > ul.menu > li.active > ul.sub-menu > li.region-group:not(.hover) > ul.sub-menu > li > a {
  color: $blue_light;
}

  // put a box shadow on the nav on hover
  nav.main-menu.active {
    > ul.menu {
      > li {
        > ul.sub-menu {
          @include box_shadow(0 8px 6px -6px rgba(0,0,0,.3));
        }
      }
    }
  }
  
}



/*
* below tablet
*/
@media only screen and (max-width: 768px) {
  // nav styles for mobile only
  .main-menu {
    
  }
  // don't show the where we serve menu on mobile it's too big
  nav.main-menu > ul.menu > li.where-we-serve > ul.sub-menu {
    display: none;
  }
  
  // top menu now used for main menu toggle
  .top-menu, .header-home {
    display: none;
  }
  
  .main-menu-toggle {
    display: inherit;
  }
  // show search button mobile
  .header-default {
    min-height: 80px;
    background: white;
  }
  .header-default:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .header-default .logo {
    float: left;
    margin-top: 10px;
  }
  
  // MOBILE ONLY Menu
  .searchbtn.mobile,
  .searchbtn_close.mobile {
    position: absolute;
    top: 13px;
    right: 58px;
  }
  .header-default .site-search-contain.mobile {
    width: 100% !important;
    background: white !important;
    form {
      width: 90%;
      margin: 0 auto;
      padding-left: 8%;
    }
  }
  // make the menu buttons bigger for mobile
  .searchbtn.mobile,
  .searchbtn_close.mobile,
  .main-menu-toggle {
    font-size: 2em;
  }
  
  // menu collapsed and big
  nav.main-menu {
    // background: white;
    display: none;
  }
  nav.main-menu {
    padding-top: 20px;
    ul {
      width: 96%;
      margin: 0 auto;
      padding: 0;
    }
  }
  nav.main-menu a:hover {
    color: $blue_light;
  }
  nav.main-menu > ul.menu > li {
    border-bottom: solid 1px $yellow;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
  }
  // nav.main-menu > ul.menu > li:first-child {
  //   border-top: solid 1px $yellow;
  // }
  nav.main-menu > ul.menu > li > ul.sub-menu > li {
    padding-bottom: 5px;
    border-bottom: none;
    padding-left: 15px;
    position: relative;
  }
  nav.main-menu > ul.menu > li > ul.sub-menu > li:before {
    font-family: "FontAwesome";
    content: "\f105";
    display: inline-block;
    padding-right: 5px;
    margin-right: 5px;
  }
  .stick {
    margin-top: 0;
  }
  
}



// main nav breakdown smaller font sizes
@media only screen and (max-width: 1200px) and (min-width: 630px) {
  nav.main-menu > ul.menu,
  nav.main-menu > ul.menu > li > ul.sub-menu {
    font-size: .9rem;
  }
  nav.main-menu ul.menu > li > a {
    padding: 33px 10px 25px;
  }
}





/*
* PAGE SIDEBAR MENU
*/

// sidebar li styles
aside.sidebar {
  a {
    display: block;
    position: relative;
  }
  // dingbat on active
  a:before {
    position: absolute;
    display: inline-block;
    top: 0;
    left: -15px;
    padding-top: .1em;
    font-family: "FontAwesome";
    content: "\f0da";
    display: none;
  }
  li.active > a:before,
  li.current_page_item > a:before {
    display: inline-block;
  }
  > ul.menu > li > a {
    border-bottom: solid 1px $blue_medium;
    padding-bottom: 10px;
    margin-bottom: 0;
    &:before {
      top: 0;
    }
  }
  > ul.menu > li > ul.sub-menu {
    margin-bottom: 15px;
  }
  // make the grandchildren inside the rules
  > ul.menu > li > ul.sub-menu > li a {
    margin: 5px 0;
    padding: 10px 0;
    border-bottom: solid 1px $blue_medium;
    &:before {
      top: 8px;
    }
  }
  > ul.menu > li > ul.sub-menu > li > ul.children > li a {
    &:before {
      top: 2px;
    }
  }
  > ul.menu > li > ul.sub-menu > li > ul.sub-menu > li a {
    border-bottom: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    &:before {
      top: 0;
    }
  }
  a.back {
    color: $blue_black;
    font-size: .75rem;
  }
}

//for wp-list-pages on default page
aside.sidebar.page-default {
  > ul.menu > li > ul.sub-menu > li > ul.children {
    padding: 7px 0;
    margin-top: 0;
    //margin-left: 0;
    > li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      > ul.children {
        margin-top: 0;
        padding: 0;
        > li {
          list-style-type: none;
          a {
            margin: 0;
            padding: 0;
            margin-bottom: 5px;
            border: 0;
          }
        }
      }
    }
  }
  > ul.menu > li > ul.sub-menu > li > ul.children > li > ul.children {
    margin-top: 18px;
  }
  > ul.menu > li > ul.sub-menu > li > ul.children > li > ul.children > li a {
    &:before {
      top: 0;
    }
  }
}



// only show third ul.sub-menu if its parent li is active
aside.sidebar {
  > ul.menu > li > ul.sub-menu > li > ul.sub-menu {
    display: none;
  }
  > ul.menu > li > ul.sub-menu > li.active > ul.sub-menu {
    display: block;
  }
}



