ul.social:after {
  display: table;
  clear: both;
  content: "";
}

.container, .wide-container {
	width: 96%;
	margin: 0 auto;
	max-width: 1024px;
}

.wide-container {
  max-width: 1600px;
}

/* clearfix */
.container:after,
.wide-container:after {
	display: table;
	content: "";
	clear: both;
}




/////     .loading-box     /////

.loading-box {
  
}

/////     .accordion-wrapper     //////
.accordion-wrapper {
  padding-top: 1px;
  padding-bottom: 1px;
  a.cta {
    padding-left: 15px;
    position: relative;
    .status:after {
      content: "More";
    }
  }
  a.cta:before {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    font-family: "FontAwesome";
    content: "\f0d7";
  }
}

// dont show more on default
.more-summary {
  display: none;
}

.accordion-wrapper.active {
  a.cta:before {
    content: "\f0d8";
  }
  a.cta .status:after {
    content: "Less";
  }
}



/////     .cta-container     /////

.cta-container.regions {
  margin-top: 60px;
}

/////     .cta-locals     /////

.cta-locals {
  margin-bottom: 60px;
  a:last-child {
    margin-left: 10px;
  }
}

/*
* doodads
* with cornerfolds
* cubes
* cubes with-fold
*/

// a box with a cornerfold
.doodad {
  color: white;
  width: 100%;
  .details {
    padding: 18px 80px 30px 30px;
  }
  .details.as-image {
    padding: 30px;
    img {
      margin-top: -57px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .number {
    display: block;
  }
  .cell {
    position: relative;
    span {
      color: white;
    }
  }
  .as-columns {
    .number,
    .desc {
      display: table-cell;
      vertical-align: top;
    }
    .desc {
      padding-left: 10px;
    }
  }
  .fold {
    position: relative;
    z-index: 2;
    display: block;
  }
}
.doodad.yellow {
  background: $yellow;
}
.doodad.light-blue {
  background: $blue;
}
.doodad.pink {
  background: $pink;
}
.doodad.white {
  background: white;
}

// vertical alignment
.doodad.top-left,
.doodad.top-right {
  .cell {
    vertical-align: top;
  }
}
.doodad.bottom-left,
.doodad.bottom-right {
  .cell {
    vertical-align: bottom;
  }
}

.doodad.bottom-right.yellow {
  .fold {
    background: url('../img/sprites/cornerfold-yellow-BR.png') bottom right no-repeat;
    height: 26px;
    width: 52px;
  }
  .cornerfold {
    width: 52px;
  }
}

.doodad.top-left.yellow {
  .fold {
    background: url('../img/sprites/cornerfold-yellow-TL.png') top left no-repeat;
    height: 52px;
    width: 26px;
  }
  .cornerfold {
    width: 26px;
  }
}

.doodad.top-left.white {
  .fold {
    background: url('../img/sprites/cornerfold-white-TL.gif') top left no-repeat;
    width: 27px;
    height: 54px;
  }
  .cornerfold {
    width: 27px;
  }
}

.doodad.top-right.light-blue {
  .fold {
    background: url('../img/sprites/cornerfold-lightblue-TR.png') top right no-repeat;
    width: 26px;
    height: 52px;
  }
  .cornerfold {
    width: 26px;
  }
}

.doodad.bottom-right.light-blue {
  .fold {
    background: url('../img/sprites/cornerfold-lightblue-BR.png') bottom right no-repeat;
    width: 26px;
    height: 52px;
  }
  .cornerfold {
    width: 26px;
  }
}



/* wysiwyg figcaption inserts */
// styled the same way as the doodad with fold but paired down code

.content {
  .figure {
    img {
      width: 100%;
    }
    .figcaption {
      padding: 1px 30px;
      background-color: $blue_dark;
      p {
        color: white;
      }
    }
  }
}

// yellow figcaption

.content {
  .figure.yellow {
    .figcaption {
      background-color: $yellow;
      background-image: url('../img/sprites/cornerfold-yellow-BR.png');
      background-position: bottom right;
      background-repeat: no-repeat;
    }
  }
}

.content .figure > p {
  margin: 0;
}

.doodad.cube {
  transition: all 0.5s ease-in-out;
  position: relative;
}

// only setup pink for cube so far
// .stats:hover .doodad.cube {
//   -webkit-transform: translateX(10px) translateY(10px);
//   transform: translateX(10px) translateY(10px);
// }

// make the cube appear to grow on hover
// .stats:hover .doodad.cube.pink {
//   @include cube_grow_bottom_right($pink_light, $pink_dark);
// }

// .stats:hover .doodad.cube.light-blue {
//   @include cube_grow_bottom_right($blue_light, $blue_dark);
// }


// pink growing boxes
.stats:hover .pink.doodad.cube.top-left {
  @include cube_grow_top_left($pink_light, $pink_dark);
  -webkit-transform: translateX(10px) translateY(10px);
  transform: translateX(10px) translateY(10px);
}
.stats:hover .pink.doodad.cube.bottom-right {
  @include cube_grow_bottom_right($pink_light, $pink_dark);
  -webkit-transform: translateX(-10px) translateY(-10px);
  transform: translateX(-10px) translateY(-10px);
}
.stats:hover .pink.doodad.cube.bottom-left {
  @include cube_grow_bottom_left($pink_light, $pink_dark);
  -webkit-transform: translateX(10px) translateY(-10px);
  transform: translateX(10px) translateY(-10px);
}


// light blue growing boxes
.stats:hover .light-blue.doodad.cube.top-left {
  @include cube_grow_top_left($blue_light, $blue_dark);
  -webkit-transform: translateX(10px) translateY(10px);
  transform: translateX(10px) translateY(10px);
}

.stats:hover .light-blue.doodad.cube.top-right {
  @include cube_grow_top_right($blue_light, $blue_dark);
  -webkit-transform: translateX(-10px) translateY(10px);
  transform: translateX(-10px) translateY(10px);
}

// yellow growing boxes
.stats:hover .yellow.doodad.cube.top-right {
  @include cube_grow_top_right($yellow_light, $yellow_dark);
  -webkit-transform: translateX(-10px) translateY(10px);
  transform: translateX(-10px) translateY(10px);
}
.stats:hover .yellow.doodad.cube.top-left {
  @include cube_grow_top_left($yellow_light, $yellow_dark);
  -webkit-transform: translateX(10px) translateY(10px);
  transform: translateX(10px) translateY(10px);
}


// light-blue with fold
//top left
.doodad.cube.with-fold.light-blue.top-left {
  background-image: url('../img/sprites/cornerfold-lightblue-TR.png');
  background-position: top right;
  background-repeat: no-repeat;
}

.doodad.cube.with-fold.light-blue.top-left::before {
  content: "";
  display: block;
  background: $blue_dark;
  width: 26px;
  height: 26px;
  top: -26px;
  right: 0;
  position: absolute;
}
.doodad.cube.with-fold.light-blue.top-left::after {
  content: "";
  display: block;
  background: url('../img/sprites/corner-blue-TL.png');
  width: 26px;
  height: 26px;
  top: -26px;
  right: 26px;
  position: absolute;
}

//top right
.doodad.cube.with-fold.light-blue.top-right {
  background-image: url('../img/sprites/cornerfold-lightblue-TL.png');
  background-position: top left;
  background-repeat: no-repeat;
}
.doodad.cube.with-fold.light-blue.top-right::before {
  content: "";
  display: block;
  background: $blue_dark;
  width: 26px;
  height: 26px;
  top: -26px;
  left: 0;
  position: absolute;
}
.doodad.cube.with-fold.light-blue.top-right::after {
  content: "";
  display: block;
  background: url('../img/sprites/corner-blue-TR.png');
  width: 26px;
  height: 26px;
  top: -26px;
  left: 26px;
  position: absolute;
}

// pink with fold
// bottom left
.doodad.cube.with-fold.pink.bottom-left {
  background-image: url('../img/sprites/cornerfold-pink-TR.png');
  background-position: top right;
  background-repeat: no-repeat;
}

.doodad.cube.with-fold.pink.bottom-left::after {
  content: "";
  display: block;
  background: url('../img/sprites/corner-blue-TL.png');
  width: 26px;
  height: 26px;
  top: -1px;
  right: -1px;
  position: absolute;
}




/////     stats    /////

.stats {
  display: inline-block;
  position: relative;
  .pillar {
    position: relative;
    display: inline-block;
  }
  .latched {
    position: absolute;
    z-index: 10;
    // overflow: hidden;
  }
}

// icons

.stats {
  .latched {
    .desc {
      .ico {
        position: absolute;
        bottom: 25px;
        right: 25px;
        font-size: 3rem;
      }
      .icon-classroom {
        font-size: 3.6rem;
      }
    }
  }
}

// specific icon colors per doodad
.doodad.pink {
  
    .desc {
      .ico {
        color: $pink_dark;
      }
    }
  
}

.doodad.light-blue {
  
    .desc {
      .ico {
        color: $blue_medium;
      }
    }
  
}

.doodad.yellow {
  
    .desc {
      .ico {
        color: $yellow_dark;
      }
    }
  
}


/* ALL STATS
* DEFAULT TO POP OUT FOR TABLET
*/

@media only screen and (max-width: 1024px) and (min-width: 50px) {
  // pink growing boxes
  .stats.pop-out .pink.doodad.cube.top-left {
    @include cube_grow_top_left($pink_light, $pink_dark);
    -webkit-transform: translateX(10px) translateY(10px);
    transform: translateX(10px) translateY(10px);
  }
  .stats.pop-out .pink.doodad.cube.bottom-right {
    @include cube_grow_bottom_right($pink_light, $pink_dark);
    -webkit-transform: translateX(-10px) translateY(-10px);
    transform: translateX(-10px) translateY(-10px);
  }
  .stats.pop-out .pink.doodad.cube.bottom-left {
    @include cube_grow_bottom_left($pink_light, $pink_dark);
    -webkit-transform: translateX(10px) translateY(-10px);
    transform: translateX(10px) translateY(-10px);
  }


  // light blue growing boxes
  .stats.pop-out .light-blue.doodad.cube.top-left {
    @include cube_grow_top_left($blue_light, $blue_dark);
    -webkit-transform: translateX(10px) translateY(10px);
    transform: translateX(10px) translateY(10px);
  }

  .stats.pop-out .light-blue.doodad.cube.top-right {
    @include cube_grow_top_right($blue_light, $blue_dark);
    -webkit-transform: translateX(-10px) translateY(10px);
    transform: translateX(-10px) translateY(10px);
  }

  // yellow growing boxes
  .stats.pop-out .yellow.doodad.cube.top-right {
    @include cube_grow_top_right($yellow_light, $yellow_dark);
    -webkit-transform: translateX(-10px) translateY(10px);
    transform: translateX(-10px) translateY(10px);
  }
  .stats.pop-out .yellow.doodad.cube.top-left {
    @include cube_grow_top_left($yellow_light, $yellow_dark);
    -webkit-transform: translateX(10px) translateY(10px);
    transform: translateX(10px) translateY(10px);
  }
}
