// clearfix
.related-posts ul:after {
  content: "";
  clear: both;
  display: block;
}

// main-page styles
.main-page {
  h1.handwriting {
    color: white;
    margin: 1em 0 .5em;
  }
  h1.mixed-type-1 {
    color: white;
    margin: 1em 0 2.5em;
  }
  .on-page-parent {
  }
  .on-page-child {
    h2 {
      margin-bottom: 0;
      color: white;
      position: relative;
      display: inline-block;
    }
    h2:before, h2:after {
      position: absolute;
      display: block;
      background: white;
      height: 1px;
      top: 50%;
      content: "";
      width: 25px;
    }
    h2:before {
      left: -35px;
    }
    h2:after {
      width: 25px;
      right: -28px;
    }
    h1.handwriting {
      margin-top: 0;
    }
  }
}

/*
* Default Page Layouts
*/

.main-page.default {
  .banner {
    position: relative;
    //@include linear_gradient(rgba(45,70,89,.4), $blue_dark);
background: -moz-linear-gradient(top,  rgba(45,70,89,0.4) 0%, rgba(45,70,89,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,70,89,0.4)), color-stop(100%,rgba(45,70,89,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(45,70,89,0.4) 0%,rgba(45,70,89,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(45,70,89,0.4) 0%,rgba(45,70,89,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(45,70,89,0.4) 0%,rgba(45,70,89,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(45,70,89,0.4) 0%,rgba(45,70,89,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#662d4659', endColorstr='#2d4659',GradientType=0 ); /* IE6-9 */
    max-height: 550px;
    min-height: 300px;
    overflow: hidden;
    img {
      position: relative;
      z-index: -1;
      width: 100%;
    }
  }
}


// when there is a banner different margin for h1
.main-page.default {
  .with-banner {
    h1.handwriting {
      margin-top: 0;
    }
  }
}

// when the background of the landing page is an image
.main-page {
  .with-background {
    padding-bottom: 100px;
  }
}

// main page for blog
.main-page.blog {
  .elevated-sidebar {
    margin-bottom: 60px;
  }
  .blog-feed {
    width: 65%;
    float: left;
    background: white;
    padding: 45px 85px 45px 60px;
    position: relative;
    border-bottom: solid 25px $gray_medium;
  }
  aside {
    float: right;
    width: 35%;
    background: white;
    color: white;
  }
  .blog-feed::before {
    width: 40px;
    background-color: white;
    content: "";
    margin-left: -40px;
    margin-top: 78px;
    bottom: -25px;
    border-bottom: solid 25px $gray_medium;
    left: 0;
    top: 0;
    position: absolute;
    display: block;
  }
  .blog-feed::after {
    background-image: url('../img/sprites/cornerfold-white-TL-large.png');
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -40px;
    content: "";
    width: 40px;
    height: 78px;
  }
  .blog-feed .bottom-folds {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .blog-feed .bottom-folds:before,
  .blog-feed .bottom-folds:after {
    position: absolute;
    width: 26px;
    height: 26px;
    display: block;
    content: "";
  }
  .blog-feed .bottom-folds:before {
    bottom: -26px;
    right: 0;
    background: url('../img/sprites/corner-blue-BL.png');
  }
  .blog-feed .bottom-folds:after {
    bottom: -26px;
    left: -40px;
    background: url('../img/sprites/corner-blue-BR.png');
  }
  .group {
    padding: 30px;
    padding-bottom: 0;
  }
  .area {
    position: relative;
    padding-bottom: 30px;
  }
}

// same 3d quality from bottom of blog-feed on locations partners module
// this would go on locations.scss but it should have the same styles as the blog

.location-partners {
  position: relative;
  border-bottom: solid 25px $gray_medium;
  .bottom-folds {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .bottom-folds:before,
  .bottom-folds:after {
    position: absolute;
    width: 26px;
    height: 26px;
    display: block;
    content: "";
  }
  .bottom-folds:before {
    bottom: -26px;
    right: 0;
    background: url('../img/sprites/corner-blue-BL.png');
  }
  .bottom-folds:after {
    bottom: -26px;
    left: 0;
    background: url('../img/sprites/corner-blue-BR.png');
  }
}


// 3d quality on sidebars
.main-page.blog {
  .elevated-sidebar {
    .popular-reads-detail {
      background-color: $blue_medium;
      @include cube_grow_bottom_left($blue_light, $blue_dark);
      margin-top: -10px;
      margin-left: 10px;
    }
    .popular-reads-list {
      background-color: $blue;
      @include cube_grow_bottom_left($blue_light, $blue_dark);
      margin-top: -20px;
      margin-left: 10px;
    }
    .article-lists {
      background-color: $gray_white;
      @include cube_grow_bottom_left($gray_light, $gray_dark);
      margin-top: -20px;
      margin-left: 10px;
    }
  }
}

// content styles for groups in sidebar
.main-page.blog {
  .elevated-sidebar {
    .popular-reads-detail {
      text-align: center;
    }
    .popular-reads-detail:after {
      content: "";
      display: block;
      position: absolute;
      width: 37px;
      height: 11px;
      bottom: 11px;
      left: 44%;
      background-image: url("../img/sprites/corner-bottom-blue-medium.png");
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 10;
    }
    .popular-reads-list {
      li {
        border-bottom: solid 1px $blue_medium_opaque;
        margin-bottom: 15px;
      }
      li:last-child {
        border-bottom: none;
      }
      h5 {
        margin-top: 0;
      }
      .date {
        margin-bottom: 0;
        margin-top: 26px;
      }
    }
    .archive.list {
      .archive-year > a {
        color: $blue;
      }
      .archive-year > ul > li a {
        color: $yellow;
        padding-left: 18px;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border-bottom: 0;
      }
    }
  }
}

.archive.list {
  > ul > li > ul {
    display: none;
  }
  .fa-caret-down {
    display: none;
  }
  li.open {
    .fa-caret-right {
      display: none;
    }
    .fa-caret-down {
      display: inherit;
    }
    ul {
      display: block;
    }
  }
  .blog-count {
    color: $gray_dark;
    font-size: .75rem;
    padding-left: 7px;
    display: inline-block;
  }
}

// content styles for articles in blog-feed
.blog-feed {
  article {
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: solid 1px $blue_light;
    a {
      text-decoration: none !important;
    }
  }
  article:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
  h3 {
    margin: 10px 0 6px;
  }
  figure {
    margin-top: 20px;
    figcaption {
      padding-top: 20px;
      color: $blue_dark;
    }
  }
  .excerpt {
    p {
     color: $blue_dark;
    }
    margin-bottom: 0;
    font-size: 1rem;
  }
  article:hover {
    h3 {
      color: $blue;
    }
  }
}

// pagination on main page blog
.pagination {
  position: relative;
  text-align: center;
  a {
    text-decoration: none !important;
    display: inline-block;
  }
  a.page-numbers {
    color: $blue;
    font-size: 1.2rem;
  }
  a.page-numbers,
  .page-numbers.dots,
  .page-numbers.current {
    margin-right: 10px;
  }
  .page-numbers.current {
    color: $yellow;
    font-size: 1.2rem;
  }
  .page-numbers.prev,
  .page-numbers.next {
    background: $blue;
    color: white;
    font-size: .675rem;
    letter-spacing: .065rem;
    padding: 7px 10px;
    min-width: 50px;
    margin: 0;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    top: 0;
  }
  .page-numbers.prev {
    left: 15px;
  }
  .page-numbers.next {
    right: 15px;
  }
  .page-numbers .foldy {
    display: inline-block;
    position: absolute;
    top: 0;
    border-style: solid;
    border-width: 15px;
    height: 0px;
    width: 0px;
  }
  .page-numbers.next .foldy {
    right: -30px;
    border-color: transparent transparent transparent $blue;
  }
  .page-numbers.prev .foldy {
    left: -30px;
    border-color: transparent $blue transparent transparent;
  }
}

/*
* Single Blog
*/
.main-page.single-blog {
  .inner-page {
    position: relative;
    a.parent-back {
      position: absolute;
      z-index: 10;
      top: -0.05rem;
      left: -0.05rem;
      display: inline-block;
    }
    .blog-article {
      padding-left: 0.9375rem;
      padding-top: 2.5375rem;
      .group {
        padding-right: 5.4375rem;
      }
    }
    aside {
      padding-left: 5.4375rem;
      padding-right: 0.9375rem;
      padding-top: 12rem;
      .article-info {
        .headshot {
          width: 100px;
          height: 100px;
          overflow: hidden;
        }
        img {
          @include border_radius(100px);
          margin-bottom: 20px;
          max-width: 100%;
        }
      }
    }
  }
  article {
    border-bottom: solid 1px $blue;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}



// blog single post
.main-page.single-blog {
  .article-info {
    margin-bottom: 30px;
  }
  .tag.list,
  .article-share {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: solid 1px $gray_medium;
  }
}

.article-share {
  li {
    display: block;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    .link {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .share-count {
      position: absolute;
      border-left: solid 5px $blue_dark;
      right: -30px;
      width: 30px;
      height: 30px;
      top: 0;
      background: $blue_dark;
      color: white;
      padding-top: 5px;
      text-align: center;
      font-size: .6rem;
    }
  }
  li.twitter {
    background: url('../img/share/twitter.jpg') center center no-repeat;
    width: 82px;
    height: 30px;
  }
  li.linkedin {
    background: url('../img/share/linkedin.jpg') center center no-repeat;
    width: 79px;
    height: 30px;
  }
  li.facebook {
    background: url('../img/share/facebook.jpg') center center no-repeat;
    width: 68px;
    height: 30px;
  }
  li.googleplus {
    background: url('../img/share/google-plus.jpg') center center no-repeat;
    width: 43px;
    height: 30px;
  }
}

// related posts

.related-posts {
  ul {
    width: 80%;
  }
  li {
    float: left;
    width: 47.5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  li:nth-of-type(2n) {
    margin-right: 0;
  }
}

/////     OUR Team     /////

.main-page.our-team {
  h2 {
    color: $yellow;
  }
}


/////     SEARCH RESULTS     /////
.main-page.search-results {
  article {
    border-bottom: solid 1px $blue_medium_opaque;
  }
  ol {
    counter-reset: li-counter;
  }
  li {
    position: relative;
    padding-left: 100px;
    list-style-type: none;
    a {
      text-decoration: none !important;
    }
  }
  li:before {
    content: counter(li-counter);
    counter-increment: li-counter;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    display: block;
    font-size: .95rem;
    text-align: center;
    color: white;
    border-radius: 50%;
    background-color: $gray_light;
    font-weight: 800;
    padding-top: 6px;
    @include sans_serif_bold;
  }
}

/////     zone and state background     /////

body.single-state {
}

.main-page.zone-landing {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJkNDY1OSIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJkNDY1OSIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,  rgba(45,70,89,0.2) 0%, rgba(45,70,89,0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,70,89,0.2)), color-stop(100%,rgba(45,70,89,0.8)));
  background: -webkit-linear-gradient(top,  rgba(45,70,89,0.2) 0%,rgba(45,70,89,0.8) 100%);
  background: -o-linear-gradient(top,  rgba(45,70,89,0.2) 0%,rgba(45,70,89,0.8) 100%);
  background: -ms-linear-gradient(top,  rgba(45,70,89,0.2) 0%,rgba(45,70,89,0.8) 100%);
  background: linear-gradient(to bottom,  rgba(45,70,89,0.2) 0%,rgba(45,70,89,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#332d4659', endColorstr='#cc2d4659',GradientType=0 );
  .layout.without-background {
    background: $blue_dark;
  }
  .layout.with-background {
    background: none;
    position: relative;
    overflow-y: hidden;
    .zone-img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
    .zone-img-content {
      padding-bottom: 50px;
    }
  }
}








