/*
* Show Homepage
* only when it is loaded
*/

//show main-page on home once everything is loaded
//to avoid elements forming themselves while the page loads
//and things get wonky at first impression
body.home {
  .page-wrap {
    visibility: hidden;
  }
  .main-page {
    opacity: 0;
    @include tranzish(opacity .2s ease-in);
  }
}
// add loaded class when document is ready
body.home.loaded {
  .main-page {
    opacity: 1;
  }
}



// sticky the footer at the bottom
// used if content inside page not long enough
html, body {
  height: 100%;
}

.single-zone {
  background: $blue_dark;
}


// utility theme classes
.table {
  display: table;
  .cell {
    display: table-cell;
  }
}

.center {
  text-align: center;
}

// remove ul stuff on special uls
div:not(.content) > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}



// screen reader text
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 1px;
}


// cta buttons
a.cta {
  display: inline-block;
  min-width: 200px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none !important;
}
a.cta:first-of-type {
  margin-right: 8px;
}
a.cta:last-of-type {
  margin-right: 0;
}

.cta.blog {
  min-width: 1px;
}

.cta.learn {
  background-color: $blue_black !important;
  color: white !important;
}
.cta.global {
  background-color: $yellow !important;
  color: white !important;
}
.cta.local {
  background-color: $pink !important;
  color: white !important;
}

.cta.learn:hover {
  color: $blue_black !important;
  background: white !important;
}
.cta.global:hover {
  color: $yellow !important;
  background: white !important;
}
.cta.local:hover {
  color: $pink !important;
  background: white !important;
}
.cta.excerpt:hover {
  color: $blue_black !important;
  background: white !important;
}

.featured-story,
.featured-stories,
.location-team {
  .cta.excerpt:hover {
    background: transparent !important;
    color: white !important;
  }
}


// for zone and state landing
.cta-container {
  li {
    display: block;
    margin-bottom: 10px;
    a {
      display: inline-block;
      width: 300px;
      padding: 15px;
      text-align: center;
      color: white !important;
      text-decoration: none !important;
    }
  }
  li:nth-of-type(3n + 1) a {
    background: $yellow !important;
  }
  li:nth-of-type(3n + 2) a {
    background: $pink !important;
  }
  li:nth-of-type(3n + 3) a {
    background: $blue !important;
  }
  li:nth-of-type(3n + 1) a:hover {
    color: $yellow !important;
    background: white !important;
  }
  li:nth-of-type(3n + 2) a:hover {
    color: $pink !important;
    background: white !important;
  }
  li:nth-of-type(3n + 3) a:hover {
    color: $blue !important;
    background: white !important;
  }
}

// persistent cta's in header
.cta-persistent {
  .cta.global:hover {
    background: $blue !important;
    color: white !important;
  }
}


a.cta.back, a.cta.back:hover, a.cta.back:visited {
  background: transparent;
  padding: 10px;
  display: inline-block;
}

.single-blog {
  a.cta.back, a.cta.back:hover, a.cta.back:visited {
    color: $yellow;
    bottom: 30px;
    left: 30px;
    position: absolute;
  }
}

// as seen on the stories and updates pages
.cta.excerpt {
  padding-left: 0;
  text-align: left;
}


// blog featured image
.single-blog {
  img.featured {
    width: 680px;
    width: 100%;
    max-width: 100%;
    height: auto !important;
    display: block;
  }
}


// theme page color styles
.main-page {
  .layout {
    background: $blue_dark;
    padding-bottom: 60px;
  }
}

.main-page {
  .layout.on-white {
    padding: 1px 0;
    .inner-page {
      background: white;
      margin: 35px auto;
    }
  }
}



// wordpress image styles
img.alignleft {
  float: left;
  padding-right: 15px;
  padding-bottom: 15px;
}

img.alignright {
  float: right;
  padding-left: 15px;
  padding-bottom: 15px;
}

img.aligncenter {
  display: block;
  margin: 0 auto;
}

img.aligncenter:after {
  clear: both;
}
